# Failed Banks Open Dataset Dashboard

Data was downloaded from *data.gov* web page:  
https://catalog.data.gov/dataset/fdic-failed-bank-list

In [1]:
# import libraries
import pandas as pd

In [2]:
# reading data:
data = pd.read_csv('./data/failed_banks.csv', sep=',')

Data set containes information about Banks which have failed since October 1, 2000

In [3]:
# format Date column
data['Closing Date'] = pd.to_datetime(data['Closing Date'])

For map view Tableau will need full name of State, therefore we download **States decription** table and join in to main dataset:

In [8]:
# reading states table:
states = pd.read_excel('./data/States_description.xlsx')
states.columns = ['State_full_name', 'State_standard', 'State', 'Country']

In [6]:
data = pd.merge(data, states, on='State', how='left')
data.head(3)

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund,State_full_name,State_standard,Country
0,Almena State Bank,Almena,KS,15426,Equity Bank,2020-10-23,10538,Kansas,Kan.,United States
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",2020-10-16,10537,Florida,Fla.,United States
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",2020-04-03,10536,West Virginia,W.Va.,United States

In [7]:
# save for analysis:
data.to_csv('./data/failed_banks_processed.csv', sep=',', index=False)

Link to Tableau Public Dashboard:  
https://public.tableau.com/app/profile/aleksei5255/viz/Failed_Banks/FaliedBanks?publish=yes